:root {
    --main-bg-color: rgb(0, 0, 0);
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);

    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    inset: 0;

    background-color: var(--main-bg-color);
}

@media (max-width: 100vh) {
    #canvas {
        transform: rotate(90deg);
        transform-origin: 50vw 50vw;
    }
}